.container {
    height:100px;
    margin-bottom: solid black 1px;
    display:flex;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.left{
 flex:1;
 display:flex;
 align-items: center;
 gap:10px;
}
.logo{
text-align: end;
margin-top: 10px;
}
.logoname{
  text-align: start;
  margin-bottom: 15px;
}
.image {
    height: 40px;
    width: 40px;
}
h2{
    flex:1;
}
.right {
 flex:2;
 display: flex;
 align-items: center;
 justify-content: end;
 gap:5px;
}
.navbtn {
    width:80px;
    height:35px;
    border:none;
    font-size: 11px;
    color:black;
    font-weight: 600;
    border-radius: 5px;  
    background-color: white;  
}
.navbtn:hover{ background-color: rgb(59, 194, 183);
    color:white;
    cursor: pointer;
}
.searchicon{
    width:60px;
    color:rgb(59, 194, 183);
    transform: rotateY(180deg);
}
.searchicon:hover{
    cursor: pointer;
}
.baricon {
    display:none;
}
.barDropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

@media screen and (max-width:950px) {
    .right {
        display:none;
    }

    .baricon {
        display:inline;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 60%;
    }
}
@media screen and (min-width:951px) 
{
    .barDropDown {
    display: none;
}
}
@media screen and (max-width:550px) {
    .baricon {
        margin-left:50% ;
    }
} 
@media screen and (max-width:400px) {
    .baricon {
        margin-left: 30%;
    }
}