.container {
    background-color: rgb(51, 49, 49);
    
    
}
.wrapper {
    display:flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: -15px;
    width:80%;
    margin-left: auto;
    margin-right: auto ;
}
.headingfont {
   flex:1;
   display: flex;
   justify-content: center;
}
.keyiconbg {
    background-color: rgb(59, 194, 183);
    width: 30px;
    height: 30px;
    transform: rotateZ(45deg);
    position:relative;
    bottom:14px;
    border-radius: 3px;
}
.keyicon {
    color:white;
    font-size: 14px;
}
.heading {
flex:2;
text-align: center;
}
.heading > h2 {
    color:white;
    margin: 0;
}
.heading > p {
    color:rgb(216, 214, 214);
    font-size: 11px;
    margin: 0;
}
.content{
flex:4;
display: flex;
flex-wrap: wrap;
 margin-top: 20px;
}
.leftcontent {
    flex:1;
    margin-top: 10px;
    margin-bottom: 30px;
}
.leftcontentcontainer{
    display: flex;
    flex-direction: column;
    gap:5px;
    
}
.leftcontentcontainer > .wrapper {
    display: flex;
    flex-direction: row;
}
.iconspart {
flex:3;
}
.desktopicon {
  font-size:30px;
  color:rgb(59, 194, 183);
}
.contentpart {
flex:5;
text-align: start;
}
.contentpart > 
h4 {
 color:white;
 font-size: 15px;
 margin:0;
}
.contentpart > p{
    font-size: 11px;
    color:rgb(216, 214, 214);
    
    
}

.rightcontent {
  flex:2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.box1{
        width: 320px;
        background-color: white;
        padding: 15px;
        border: solid rgb(102, 100, 100);
        position: relative;
        left:150px;
        height:200px;
        z-index:1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
      
}
.box2{
    position: relative;  
    border: solid rgb(102, 100, 100);
    width: 250px;
    background-color: white;
    padding: 15px;
    height:300px;
    border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
}
.box1 > .boximage {
    width:100%;
    height: 100%;
}
.box2 > .boximage{
    width:100%;
    height: 100%;
}

