.container {
    background: rgb(51, 49, 49); 
    margin-top: 60px;
}
.wrapper {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.headingfont {
    flex:1;
    display: flex;
    justify-content: center;
    width:80%;
    margin-left: auto;
    margin-right: auto ;
 }
 .keyiconbg {
     background-color: rgb(59, 194, 183);
     width: 30px;
     height: 30px;
     transform: rotateZ(45deg);
     position:relative;
     bottom:14px;
     border-radius: 3px;
 }
 .keyicon {
     color:white;
     font-size: 14px;
     transform: rotateZ(-45deg);
 }