.container {
    background-color: rgb(54, 51, 51);
}
.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.heading {
    display:inline;
    align-items: top;
    color:white;
    text-align: center;
    padding: 20px;
}

.heading > img{
    height:20px;
    width: 20px;
    margin-right: 4px;
} 
.heading > h2 {
    display: inline;
    
}

.font {
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.fontcontainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 40px;
}
.fontcard{
    width:30px;
    height:30px;
    border-radius: 3px;
    border: solid rgb(175, 171, 171) 1px;
    display: flex;
    align-items: center;
    color:white;
}
.fontcard:hover {
    background-color: rgb(59, 194, 183);
    border: none;
}
